<% layout('../layout/admin') -%>

<div class="ui fixed transparent inverted main menu">
    <div class="container">
        <a class="launch item"><i class="icon list layout"></i> Content</a>
        <div class="title item">
            <b>Admin Panel:</b> <%= title %>
        </div>

        <div class="right menu">
            <a class="popup overview icon item" data-content="Toggle Definition">
                <i class="book icon"></i>
            </a>
            <a class="popup designer icon item" data-content="Designer Mode">
                <i class="basic paint icon"></i>
            </a>
            <a class="popup developer icon item" data-content="Developer Mode">
                <i class="terminal icon"></i>
            </a>

        </div>
    </div>
</div>
<!--<div class="ui black huge launch right attached button">
    <i class="icon list layout"></i>
    <span class="text">Menu</span>
</div>-->

<div class="segment">
    <div class="container">
        <div class="introduction">
            <h1 class="ui dividing header">
                Menu
            </h1>
            <p>Настройка меню сайта</p>
        </div>
    </div>
</div>

<div class="main container">

    <div class="peek">
        <div class="ui vertical menu">
            <% for(var i=0; i<menus.length; i++) {%>
                <%if (menus[i].child.length > 0) { %>
                    <div class="ui dropdown item">
                        <%= menus[i].name %> <i class="dropdown icon"></i>
                        <div class="menu">
                            <% for(var k=0; k<menus[i].child.length; k++) {%>
                                <a class="item" href="/admin<%= menus[i].child[k].link %>"><i class="<%= menus[i].child[k].icon %> layout icon"></i><%= menus[i].child[k].name %></a>
                            <% } %>
                        </div>
                    </div>
                <% } %>
                <%if (menus[i].child.length == 0) { %>
                    <a class="item active">
                        <i class="<%= menus[i].icon %> icon"></i> <%= menus[i].name %>
                    </a>
                <% } %>
            <% } %>
        </div>
    </div>
    <div class="example">
        <div class="ui small buttons selectedmenu">
            <div class="ui button">Главное меню</div>
            <div class="or"></div>
            <div class="ui button">Дополнительное меню</div>
        </div>
        <ul class="ui list">
            <li>
                <div class="ui segment">
                    Первый пункт
                    <div class="ui dropdown">
                        <div class="text">Настройки</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item"><i class="edit icon"></i>Редактировать</div>
                            <div class="item"><i class="delete icon"></i>Удалить</div>
                            <div class="item"><i class="hide icon"></i>Показать</div>
                        </div>
                    </div>
                </div>
            </li>
            <ul>
                <li>
                    <div class="ui segment">
                        Первый пункт
                        <div class="ui dropdown">
                            <div class="text">Настройки</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item"><i class="edit icon"></i>Редактировать</div>
                                <div class="item"><i class="delete icon"></i>Удалить</div>
                                <div class="item"><i class="hide icon"></i>Показать</div>
                                <div class="item"><i class="up icon"></i>Уровень выше</div>
                                <div class="item"><i class="down icon"></i>Уровень ниже</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ui segment">
                        Второй пункт
                        <div class="ui dropdown">
                            <div class="text">Настройки</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item"><i class="edit icon"></i>Редактировать</div>
                                <div class="item"><i class="delete icon"></i>Удалить</div>
                                <div class="item"><i class="hide icon"></i>Показать</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <li>
                <div class="ui segment">
                    Второй пункт
                    <div class="ui dropdown">
                        <div class="text">Настройки</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item"><i class="edit icon"></i>Редактировать</div>
                            <div class="item"><i class="delete icon"></i>Удалить</div>
                            <div class="item"><i class="hide icon"></i>Показать</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script>
    $(function() {
        $('.ui.dropdown').dropdown();
        $( ".ui.list" ).sortable();
        $( ".ui.list" ).disableSelection();
        $( ".ui.list, .ui.list ul" ).sortable({
            connectWith: "ul"
        }).disableSelection();
    });

</script>